@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-color: #557153;
}
.box{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
    /* border-top-width: 0px;
    margin-top: 229px; */

}
.container{
    background-color: #DEF5E5;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    /* position: absolute; */
    margin: auto;
    transform: translate(-50% -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
    border-top-width: 0px;
    margin-top: 230px;
   
}

.search-wraper{
    display:grid;
    /* grid-template-columns: 9fr 3fr; */
    gap: 1.25em;
    
    
    

}
#search-btn:hover{
    background-color: #5d6274;
}
.search-wraper button{
    font-size: 1em;
    background-color: #153462;
    color: #fff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    width: 50%;
    margin: 0 auto;
}
.search-wraper input{
    background-color: #DEF5E5;
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #4FA095;
    /* height: 100px; */
    font-size: 25px;


}
.search-wraper input:focus{
    outline: none;
}
#result{
    margin-top: 1.25em;
}
.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;

}
.container h2{
    font-weight: 600;
    color:#222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;

}
.container h4{
    display: inline;
    font-weight: 500;
    color: #222a43;
}
.container span{
    color: #5d6274;
}
.container h3{
    text-align: center;
}
@media screen and (max-width: 375px) {
    .container{
        width: 90vw;
        padding: 2em 0.5em;
    }
    
}
@media screen and (max-width: 525px) {
    .search-wraper input{
        font-size: 10px;
    }

}